div.col{
  width: auto !important;
  margin-right: auto !important;
}
.card{
  max-width: 351.8px;
  min-height: 30rem;
  background-color: rgb(14, 116, 219);
  text-align: center;
}
.card-img-top{
  background-color: aqua;
  padding: 5px;
  min-width: 100%;
  height: 250px;
  
}
.card-body{
  background-color: aqua;

}

